@model IEnumerable<Funding.Data.Model.Post>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    const like_func = (t) => {
        console.log("clicked");
            $.ajax({
                type: "POST",
                url: "/Posts/LikeTest",
                data: {
                    "PostId": $(t).attr("data-id"),
                    "UserId": "@UserManager.GetUserId(User)"
                }
            }).done((res) => {
                if (res) {
                    $(t).removeClass("btn-danger")
                    $(t).addClass("btn-info")
                }
                else {
                    $(t).removeClass("btn-info")
                    $(t).addClass("btn-danger") 
                }});
            return false;
        }
</script>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @*<img id="@item.Id" src="https://toppng.com/uploads/preview/free-download-heart-11563286716fdbd349pnj.png" onClick="imgsrc(@item.Id);">*@
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (_context.Like.Where(l => l.Post.Id == @item.Id && l.User.Id == UserManager.GetUserId(User)).Count()>0)
                        {
                            <input id="like" data-id="@item.Id" type="button" value="Like" class="btn btn-info" onclick="like_func(this)" />
                        }
                        else
                        {
                            <input id="like" data-id="@item.Id" type="button" value="Like" class="btn btn-danger" onclick="like_func(this)" />
                        }
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
        <script language="javascript">
            var i = 0;
            var image;
            // Добавьте свои картинки в массив через запятую
            var imgs = new Array('https://toppng.com/uploads/preview/free-download-heart-11563286716fdbd349pnj.png', 'https://i.pinimg.com/originals/c8/63/48/c8634833f36355ae8f8943af1a15b3bb.png');
            function imgsrc(imgId) {
                image = document.getElementById("image");
                i++; i %= imgs.length;
                image.src = imgs[i];
            }
        </script>


    </tbody>
</table>
